[Unit]
Description=Amada green field
DefaultDependencies=no
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/amya-status-display
ExecStart=python3 /opt/amya-status-display/statusDisp.py

[Install]
WantedBy=multi-user.target
