[Unit]
Description=Display a shutdown splash screen
RequiresMountsFor=/dev/spidev

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/fbi -d /dev/fb0 -noverbose -once -cachemem 1 -nocomments -readahead -T 1 /opt/amya-status-display/system_halted.png

[Install]
WantedBy=multi-user.target
